<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yince.mapper.ClazzMapper">
    <!--新增班级-->
    <insert id="insert">
        insert into clazz (
        <if test="name != null and name != ''">name,</if>
        <if test="room != null and room != ''">room,</if>
        <if test="beginDate != null">begin_date,</if>
        <if test="endDate != null">end_date,</if>
        <if test="subject != null">subject,</if>
        update_time,create_time,master_id
        )
        values (
        <if test="name != null and name != ''">#{name},</if>
        <if test="room != null and room != ''">#{room},</if>
        <if test="beginDate != null">#{beginDate},</if>
        <if test="endDate != null">#{endDate},</if>
        <if test="subject != null">#{subject},</if>
        #{updateTime},#{createTime},#{masterId}
        )
    </insert>
    <!--修改班级-->
    <update id="update">
        update clazz
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="room != null and room != ''">room = #{room},</if>
            <if test="beginDate != null">begin_date = #{beginDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="subject != null">subject = #{subject},</if>
            <if test="masterId != null">master_id = #{masterId},</if>
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>
    <!--条件分页查询班级列表-->
    <select id="list" resultType="com.yince.pojo.Clazz">
        select
            c.name,
            c.room,
            c.begin_date,
            c.end_date,
            c.master_id,
            e.name as masterName,
            c.create_time,
            c.update_time,
            (case
                when NOW() &gt; c.end_date then '已结课'
                when NOW() &lt; c.begin_date then '未开班'
                else '在读中'
            end) as status
        from clazz c left join emp e on c.master_id = e.id
        <where>
            <if test="name != null and name != ''">
                and c.name like concat('%', #{name}, '%')
            </if>
            <if test="begin != null and end != null">
                and c.end_date between #{begin} and #{end}
            </if>
        </where>
        order by c.update_time desc
    </select>
<!-- 统计班级数据-->
    <select id="countClazzData" resultType="java.util.Map">
        SELECT
            c.name AS "name",
            COUNT(s.id) AS "value"
        FROM
            clazz c
                LEFT JOIN
            student s ON c.id = s.clazz_id
        GROUP BY
            c.name
    </select>
</mapper>
